[training]

real_data_file_name = '../measurement_data/Cell2Full.txt'

training_data_file_name = 'data/train/11param_train_data.txt'
training_labels_file_name = 'data/train/11param_train_labels.txt'

validation_data_file_name = 'data/validation/11param_validation_data.txt'
validation_labels_file_name = 'data/validation/11param_validation_labels.txt'

test_data_file_name = 'data/test/11param_test_data.txt'
test_labels_file_name = 'data/test/11param_test_labels.txt'

generation_data_file_name = '../test.txt'
generation_labels_file_name = '../test.txt'

number_of_training_samples = 100

random_seed = 1

model_name = 'SANS_CNN.pth'

training_session = 'Graph/inverse-CNN-7-param'

number_of_epochs = 100

train_batch_size = 256
validation_batch_size = 128
test_batch_size = 128

[PGRF-parameters]

b_min = 0.2
b_max = 0.9

beta_angle_min = 30
beta_angle_max = 90

int_const_min = 0.1
int_const_max = 1.5

l_y_min = 3.5
l_y_max = 10

l_z_min = 0.4
l_z_max = 3

phi_A_min = 0.05
phi_A_max = 0.33

porod_const_min = 0.001
porod_const_max = 0.01

vol_factor_min = 0.5
vol_factor_max = 2

d_z_min = 4
d_z_max = 10

d_y_min = 5
d_y_max = 25

rho_A_min = -0.3
rho_A_max = 4.2

rho_B_min = 4
rho_B_max = 7

rho_S_min = -0.3
rho_S_max = 4.2